:root {
  --main: rgb(94, 223, 90);
  --warning: rgb(255, 166, 0);
  --accent: red;
  --boat: grey;
  /* rgb(46, 61, 56); */
  /* rgb(0, 124, 83); */
  --blue-see: rgb(46, 133, 233);
  --dark-background: rgb(1, 16, 34);
}

/* minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,
figure,fieldset,legend,textarea,pre,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul{list-style:none}button,input,select{margin:0}
html{box-sizing:border-box}
img,video{height:auto;max-width:100%}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}


html {
  background-color: rgb(1, 16, 34);
  font-family: "IBM";
  color: var(--main);
}

a,
a:hover,
a:visited {
  color: var(--main);
}


/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */
.data{
  height: 2vh;
}

main {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr, 1fr;
  width: 100%;
  height: 86vh;

  #left {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    width: 100%;
    background-color: rgb(46, 61, 56);

    div{
      padding: 1rem;
    }
    #game-id {
      background-color: rgb(70, 80, 76);
    }

    #radar {
      background-color: rgb(0, 124, 83);
      
    }
  }

  #middle {
    background-color: rgb(55, 91, 78);
    div{
      padding: 1rem;
    }
    #board {
      background-color: rgb(32, 57, 48);
    }
  }

  #right {
    div{
      padding: 1rem;
    }
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 105, 89);

    #strike-history {
      width: 100%;
      height: fit-content;
      background-color: rgb(8, 19, 15);
      li{
        list-style: none;
      }
    }

    #boat-stats {
      width: 100%;
      height: fit-content;
      background-color: rgb(38, 65, 73);
    }
  }



  #command-pannel {
    #logs {
      width: 100%;
      height: 100px;
      background-color: rgb(147, 163, 214);
    }
  }

}




form {
  input {
    font-family: "IBM";
    border: 2px solid var(--main);
    background-color: rgb(1, 16, 34);
    color: var(--main);
  }

  button {
    font-family: "IBM";
    border: none;
    background-color: var(--blue-see);
    color: var(--dark-background);
    padding: 0.2rem 0.5rem;
  }
}

table,
td {
  border: 2px solid var(--main);
  border-collapse: collapse;
}

table {
  margin: auto;

  th {
    width: 20px;
    height: 20px;
  }

  /* State : sea or boat */
  td.boat::before {
    color: var(--boat);
    content: '◉';
    display: block;
    text-align: center;
  }

  td.sea::before {
    color: var(--main);
    content: '◦';
    display: block;
    text-align: center;
  }

  /* Attacked : true or false */
  td.sea.hitten::before {
    content: '●';
    color: white;
    display: block;
    text-align: center;
  }

  td.boat.hitten::before {
    content: '○';
    color: var(--warning);
    display: block;
    text-align: center;
  }
  td.boatsunk.hitten::before {
    content: 'x';
    color: var(--accent);
    display: block;
    text-align: center;
  }

  td {
    width: 40px;
    height: 40px;



    p {
      width: fit-content;
      height: fit-content;
      text-align: center;
      margin: 0;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                             Barre de navigation                            */
/* -------------------------------------------------------------------------- */

nav {
  height: 6vh;
  padding: 1rem;

  ul {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      display: inline;

      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
}